Src/Pscx.UnitTests/Xml/test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="grocery">
<xs:complexType>
<xs:sequence>
<xs:element name="meat">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="fruits">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
